{% extends 'base.html.twig' %}

{% block title %}#{{ recipe.id ~" "~ recipe.slug }}{% endblock %}

{% block body %}
    <div align="center" class= "col-md-6 mx-auto">>
        <article>
            {# <h3>
            Bienvenu sur la recette numéro {{ recipe.id }}
            </h3> #}
            <h1>
            {{ recipe.title |title }}
            </h1>
            {# <p>
            Recette créé par {{ user.firstname }} {{ user.lastname }}
            {{ dump(user) }}
            Recette créé par {{ user.firstName ~" "~ user.lastName }}
            </p>
            <br> #}
            <img style="max-width: 400px;" src={{ recipe.imageName }}>
            <h5>
            {{ recipe.content | nl2br}}
            </h5>
            <p>
                By {{ recipe.user.firstname }} {{ recipe.user.lastname }}
            </p>
            <p>
                Submitted {{ recipe.createdAt | date('d/m/Y') }}
            </p>
            <br>
            <p>
                Updated {{ recipe.updatedAt | date('d/m/Y h:i') }}
            </p>
            <br>
            {% if app.user %}
                {% if app.user.isVerified() and app.user.id == recipe.user.id %}   
                    <a class="btn btn-primary btn-sm" href={{ path('app_recipe_edit', {id: recipe.id}) }}>
                        Edit Recipe
                    </a>
                    <a class= "btn btn-danger btn-sm" href={{ path('app_recipe_delete', {id: recipe.id}) }} onclick="return confirm('Are you sure you want to delete this recipe?')">delete</a>
                {% endif %}
            {% endif %}
            <a class="btn btn-secondary btn-sm" href={{ path('app_recipe_index')}}>
                Go Back
            </a>
        </article>
    </div>
{% endblock %}